* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 13px;
    -webkit-tap-highlight-color: #222;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #222222;
    background-color: #fff;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #0096cc;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #db3d44;
    text-decoration: underline;
}
a:focus {
    outline: 0;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid $ddd;
}
[role="button"] {
    // iOS "clickable elements" fix for role="button"
    //
    // Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
    // for traditionally non-focusable elements with role="button"
    // see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
    cursor: pointer;
}
