/*== Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.
//
==*/
.input-lg {
    height: 44px;
    padding: 9px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
}

.input-sm {
    height: 28px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
}

.input-xs {
    height: 22px;
    padding: 1px 12px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
}


/*== Form control field widths ==*/
.input-width-mini {
    width: 64px;
}
.input-width-xs {
    width: 120px;
}
.input-width-sm {
    width: 168px;
}
.input-width-default {
    width: 256px;
}
.input-width-md {
    width: 360px;
}
.input-width-lg {
    width: 512px;
}
.input-width-fill {
    width: 100%;
}
