/*== Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.
//
==*/
// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9; // IE8-9
    line-height: normal;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
.input-focus {
    border-color: #0096cc;
    transition: all 0.2s linear 0s;
    outline: none;
}


/*== Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
//
==*/
.form-control {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 13px;
    color: #222222;
    background-color: #ffffff;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid #cccccc;
    border-radius: 3px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

    // Placeholder
    .placeholder {
        color: #999999;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: #dddddd;
        opacity: 0.4; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }

    // Reset height for `textarea`s
    textarea& {
        height: auto;
        resize: none; //Default textarea can't resize
    }
}
//form control height in IE 10 and above
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    input.form-control {
        height: 32px;
    }
}


/*== Required form label ==*/
.label-required:after{
    content: "*";
    color: #db3d44;
}


/*== Invalid form controls ==*/
.form-invalid,
.form-invalid:focus {
    border-color: #db3d44;
}


/*== Textarea ==*/
.textarea-resizable {
    textarea&{
        resize: vertical;   //only can resize vertical
    }
}


/*== Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.
//
 ==*/
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    position: relative;
    display: block;

    label {
        min-height: 20px; // Ensure the input doesn't jump when there is no text
        padding: 0;
        margin-bottom: 0;
        cursor: pointer;
        color: #000000;
        line-height: 20px;
    }
}

input[type="radio"],
input[type="checkbox"],
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    &[disabled],
    &.disabled,
    fieldset[disabled] & {
        cursor: not-allowed;
        label {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: 8px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    float: left;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 16px; // space out consecutive inline controls
}


/*== Customized Radio and Checkbox ==*/
.input-radio,
.input-checkbox {
    display: none;
}

.radio label:before,
.radio-inline label:before {
    border-radius: 50%;
}

.checkbox label:before,
.checkbox-inline label:before {
    border-radius: 2px;
}

.input-radio + label:before,
.input-checkbox + label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #999999;
    vertical-align: top;
    margin-top: 3px;
    background-color: #ffffff;
}

// Radio button checked
.radio .checked + label:before,
.radio-inline .checked + label:before,
.input-radio:checked + label:before {
    content: "\2022";
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 14px;
    border: 1px solid #0096cc;
    background-color: #0096cc;
    transition: background-color 0.2s;
}

// Checkbox checked
.checkbox .checked + label:before,
.checkbox-inline .checked + label:before,
.input-checkbox:checked + label:before {
    content: "";
    background-image: url(../images/icon/component_check.svg);
    background-position: center;
    border: 1px solid #0096cc;
    background-color: #0096cc;
    transition: 0.2s;
}

// Partial checked
.checkbox-partial + label:before {
    content: "\25A0";
    color: #0096cc;
    font-size: 13px;
    text-align: center;
    line-height: 10px;
    transition: 0.2s;
}

// Hover
.input-radio + label:hover::before,
.input-checkbox + label:hover::before,
.radio .hover + label:before,
.radio-inline .hover + label:before,
.checkbox .hover + label:before,
.checkbox-inline .hover + label:before {
    border: 1px solid #0096cc;
}

// Checked:hover
.input-radio:checked + label:hover::before,
.radio .checked-hover + label:before,
.radio .checked + label:hover::before,
.radio-inline .checked-hover + label:before,
.radio-inline .checked + label:hover::before,
.input-checkbox:checked + label:hover::before,
.checkbox .checked-hover + label:before,
.checkbox .checked + label:hover::before,
.checkbox-inline .checked-hover + label:before,
.checkbox-inline .checked + label:hover::before {
    border: 1px solid #33ABD6;
    background-color: #33ABD6;
}

// Disabled
.radio .disabled + label:before,
.radio-inline .disabled + label:before,
.checkbox .disabled + label:before,
.checkbox-inline .disabled + label:before  {
    border: 1px solid #999999;
    background-color: #dddddd;
}


/*== Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.
==*/
.help-block {
    display: block; // account for any element using help-block
    margin-top: 4px;
    color: #999999;
    &.help-block-with-icon {
        padding-left: 20px;
    }
    .icon {
        margin-right: 4px;
        vertical-align: top;
        margin-top: 2px;
        margin-left: -20px;
    }
}
.help-block-invalid {
    color: #db3d44;
}
