.text-primary {
    color: rgb(34, 34, 34);
}
.text-error {
    color: rgb(219, 61, 68);
}
.text-warning {
    color: rgb(255, 118, 51);
}
.text-muted {
    color: rgb(153, 153, 153);
}
.text-disabled {
    color: rgb(187, 187, 187);
}
.text-link {
    color: rgb(0, 150, 204);
}
